<h1>stage1</h1>
<h2>組員</h2>
<p>40823117 潘奕丞</p>
<p>40823122 吳家凱</p>
<p><img alt="" height="373" src="/images/S__10240003.jpg" width="420"/></p>
<h2>協同</h2>
<p><iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen" frameborder="0" height="315" src="https://www.youtube.com/embed/qBbmLeaLlgs" width="560"></iframe></p>
<p><iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen" frameborder="0" height="315" src="https://www.youtube.com/embed/IuwlTsJCQjY" width="560"></iframe></p>
<h2>w2</h2>
<p></p>
<p><iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen" frameborder="0" height="315" src="https://www.youtube.com/embed/KLJs2JZ2k1g" width="560"></iframe></p>
<p></p>
<p><iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen" frameborder="0" height="315" src="https://www.youtube.com/embed/9fFWQlHivmI" width="560"></iframe></p>
<p></p>
<p><iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen" frameborder="0" height="315" src="https://www.youtube.com/embed/DJ5gdPADWoY" width="560"></iframe></p>
<p></p>
<p><iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen" frameborder="0" height="315" src="https://www.youtube.com/embed/qWmlZQI7C-0" width="560"></iframe></p>
<p></p>
<p><iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen" frameborder="0" height="315" src="https://www.youtube.com/embed/I7hsjSE-4Og" width="560"></iframe></p>
<p><img alt="" height="265" src="/images/messageImage_1615290554039.jpg" width="560"/></p>
<p>零件檔:<a href="https://drive.google.com/drive/folders/1Gw2DKXEOqffqAUVHs4KAM4dbICA-9G0r?usp=sharing">https://drive.google.com/drive/folders/1Gw2DKXEOqffqAUVHs4KAM4dbICA-9G0r?usp=sharing</a></p>
<p></p>
<h2>w3</h2>
<p>因為使用Coppeliasim模擬時會有問題，所以修改了一些地方。</p>
<p><img alt="" height="298" src="/images/messageImage_1615967735965.jpg" width="556"/></p>
<p>日內瓦機構在旋轉的時候容易卡住轉不動，所以加入了倒角。</p>
<p><img alt="" height="297" src="/images/1615968096969.jpg" width="554"/></p>
<p>把三個輪之間的空隙加大，轉的時候不會互相干涉。</p>
<p><img alt="" height="297" src="/images/messageImage_1615968378251.jpg" width="554"/></p>
<p></p>
<h1>stage2</h1>
<h2>組員</h2>
<p><a href="https://40823117.github.io/cd2021/content/index.html">40823117</a> 潘奕丞</p>
<p><a href="https://40823122.github.io/cd2021/content/index.html">40823122</a> 吳家凱</p>
<p><a href="https://40823129.github.io/cd2021/content/index.html">40823129</a> <span>汪昱呈</span></p>
<p><span><a href="https://40823149.github.io/cd2021/content/index.html">40823149</a> 趙偉辰</span></p>
<h2>W6</h2>
<p>繪製齒輪</p>
<p><img alt="" height="315" src="/images/messageImage_1618230087958.jpg" width="560"/> <img alt="" height="315" src="/images/messageImage_1618230075227.jpg" width="560"/> <img alt="" height="315" src="/images/messageImage_1618230065212.jpg" width="560"/></p>
<h2>W7</h2>
<p>使用Inventor組裝零件</p>
<p><iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen" frameborder="0" height="315" src="https://www.youtube.com/embed/_QSEywsAqok" title="YouTube video player" width="560"></iframe></p>
<p></p>
<p><iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen" frameborder="0" height="315" src="https://www.youtube.com/embed/DpjRcUwx6eQ" title="YouTube video player" width="560"></iframe></p>
<h1>stage3</h1>
<p>ag6</p>
<p>組員</p>
<p><a href="http://github.com/40823110/cd2021">40823110 repo</a><span><span> </span>|<span> </span></span><a href="http://40823110.github.io/cd2021">40823110 site</a><span><span> </span>|</span></p>
<p><a href="http://github.com/40823125/cd2021">40823125 repo</a><span> | </span><a href="http://40823125.github.io/cd2021">40823125 site</a><span> |</span></p>
<p><span></span><a href="http://github.com/40823152/cd2021">40823152 repo</a><span> | </span><a href="http://40823152.github.io/cd2021">40823152 site</a><span> |</span></p>
<p><span><span></span></span><a href="http://github.com/40823153/cd2021">40823153 repo</a><span><span> </span>|<span> </span></span><a href="http://40823153.github.io/cd2021">40823153 site</a><span><span> </span>|</span></p>
<p><span><a href="http://github.com/40823117/cd2021">40823117 repo</a><span> </span>|<span> </span><a href="http://40823117.github.io/cd2021">40823117 site</a><span> </span>|</span></p>
<p><span><a href="http://github.com/40823122/cd2021">40823122 repo</a><span> </span>|<span> </span><a href="http://40823122.github.io/cd2021">40823122 site</a><span> </span>|</span></p>
<p><span><a href="http://github.com/40823129/cd2021">40823129 repo</a><span> </span>|<span> </span><a href="http://40823129.github.io/cd2021">40823129 site</a><span> </span>|</span></p>
<p><span><a href="http://github.com/40823149/cd2021">40823149 repo</a><span> </span>|<span> </span><a href="http://40823149.github.io/cd2021">40823149 site</a><span> </span>|</span></p>
<p><span></span></p>
<h2>W10</h2>
<h3>task1</h3>
<pre class="brush:py;auto-links:false;toolbar:false" contenteditable="false">with open("stage3_2a.txt") as fh:
   #先將我們存起來stage3_2a.txt打開並命名為fh
    data = fh.readlines()
    #將stage3_2a.txt的資料以串列形式存為data
for i in range(6):
    #因為只有6組,所以設定次數6次
    A= data[i].replace('4823122','40823122')
    #因為40823122的學號打錯了,所以用 replace把4823122換成40823122
    B=A.replace('\t\t','')
    #因為有一組只有6人,所以用 replace 把空位刪除
    group = B.rstrip("\n").split("\t")
    #先取出newdata list中的第i項,消除元素中\n,再以\t取出需要的文字
    print('&lt;p&gt;&lt;a href="https://github.com/'+group[1]+'/'+group[0]+'"&gt;'+group[0]+' repo&lt;/a&gt; | &lt;a href="https://'+group[2]+'.github.io/'+group[0]+'"&gt;'+group[0]+' site&lt;/a&gt;&lt;/p&gt;')
    for j in range(1,18,2):
    #設一個範圍,從1~18每次+2
        try:
            n = group[j].replace('40823112','a40823112')
            n = group[j].replace('4082312','s40823125')
            print('&lt;p&gt;'+'&lt;a href="https://github.com/'+n+'/cd2021"&gt;'+group[j]+' repo&lt;/a&gt; | &lt;a href="https://'+n+'.github.io/cd2021"&gt;'+group[j]+' site&lt;/a&gt;&lt;/p&gt;')
        except:
           continue
        #因為其中一組只有六個人會有空格會導致錯誤,所以使用try.....except,讓程式錯誤時執行continue,讓迴圈繼續執行</pre>
<p></p>
<p><a href="https://github.com/40823131/stage3_ag1">stage3_ag1 repo</a> | <a href="https://40823131.github.io/stage3_ag1">stage3_ag1 site</a></p>
<p><a href="https://github.com/40823131/cd2021">40823131 repo</a> | <a href="https://40823131.github.io/cd2021">40823131 site</a></p>
<p><a href="https://github.com/40823112/cd2021">40823112 repo</a> | <a href="https://40823112.github.io/cd2021">40823112 site</a></p>
<p><a href="https://github.com/s408231253/cd2021">40823123 repo</a> | <a href="https://s408231253.github.io/cd2021">40823123 site</a></p>
<p><a href="https://github.com/40823145/cd2021">40823145 repo</a> | <a href="https://40823145.github.io/cd2021">40823145 site</a></p>
<p><a href="https://github.com/40823136/cd2021">40823136 repo</a> | <a href="https://40823136.github.io/cd2021">40823136 site</a></p>
<p><a href="https://github.com/40823109/cd2021">40823109 repo</a> | <a href="https://40823109.github.io/cd2021">40823109 site</a></p>
<p><a href="https://github.com/40823116/cd2021">40823116 repo</a> | <a href="https://40823116.github.io/cd2021">40823116 site</a></p>
<p><a href="https://github.com/40823108/cd2021">40823108 repo</a> | <a href="https://40823108.github.io/cd2021">40823108 site</a></p>
<p><a href="https://github.com/40823151/stage3_ag2">stage3_ag2 repo</a> | <a href="https://40823151.github.io/stage3_ag2">stage3_ag2 site</a></p>
<p><a href="https://github.com/40823151/cd2021">40823151 repo</a> | <a href="https://40823151.github.io/cd2021">40823151 site</a></p>
<p><a href="https://github.com/40623121/cd2021">40623121 repo</a> | <a href="https://40623121.github.io/cd2021">40623121 site</a></p>
<p><a href="https://github.com/40871106/cd2021">40871106 repo</a> | <a href="https://40871106.github.io/cd2021">40871106 site</a></p>
<p><a href="https://github.com/40823102/cd2021">40823102 repo</a> | <a href="https://40823102.github.io/cd2021">40823102 site</a></p>
<p><a href="https://github.com/40823104/cd2021">40823104 repo</a> | <a href="https://40823104.github.io/cd2021">40823104 site</a></p>
<p><a href="https://github.com/40823106/cd2021">40823106 repo</a> | <a href="https://40823106.github.io/cd2021">40823106 site</a></p>
<p><a href="https://github.com/40823101/cd2021">40823101 repo</a> | <a href="https://40823101.github.io/cd2021">40823101 site</a></p>
<p><a href="https://github.com/40823132/cd2021">40823132 repo</a> | <a href="https://40823132.github.io/cd2021">40823132 site</a></p>
<p><a href="https://github.com/40823119/stage3_ag3">stage3_ag3 repo</a> | <a href="https://40823119.github.io/stage3_ag3">stage3_ag3 site</a></p>
<p><a href="https://github.com/40823119/cd2021">40823119 repo</a> | <a href="https://40823119.github.io/cd2021">40823119 site</a></p>
<p><a href="https://github.com/40823150/cd2021">40823150 repo</a> | <a href="https://40823150.github.io/cd2021">40823150 site</a></p>
<p><a href="https://github.com/40823103/cd2021">40823103 repo</a> | <a href="https://40823103.github.io/cd2021">40823103 site</a></p>
<p><a href="https://github.com/40823107/cd2021">40823107 repo</a> | <a href="https://40823107.github.io/cd2021">40823107 site</a></p>
<p><a href="https://github.com/40523252/cd2021">40523252 repo</a> | <a href="https://40523252.github.io/cd2021">40523252 site</a></p>
<p><a href="https://github.com/40823154/cd2021">40823154 repo</a> | <a href="https://40823154.github.io/cd2021">40823154 site</a></p>
<p><a href="https://github.com/40823142/stage3_ag4">stage3_ag4 repo</a> | <a href="https://40823142.github.io/stage3_ag4">stage3_ag4 site</a></p>
<p><a href="https://github.com/40823142/cd2021">40823142 repo</a> | <a href="https://40823142.github.io/cd2021">40823142 site</a></p>
<p><a href="https://github.com/40823144/cd2021">40823144 repo</a> | <a href="https://40823144.github.io/cd2021">40823144 site</a></p>
<p><a href="https://github.com/s408231257/cd2021">40823127 repo</a> | <a href="https://s408231257.github.io/cd2021">40823127 site</a></p>
<p><a href="https://github.com/40823148/cd2021">40823148 repo</a> | <a href="https://40823148.github.io/cd2021">40823148 site</a></p>
<p><a href="https://github.com/s408231251/cd2021">40823121 repo</a> | <a href="https://s408231251.github.io/cd2021">40823121 site</a></p>
<p><a href="https://github.com/40823135/cd2021">40823135 repo</a> | <a href="https://40823135.github.io/cd2021">40823135 site</a></p>
<p><a href="https://github.com/40823114/cd2021">40823114 repo</a> | <a href="https://40823114.github.io/cd2021">40823114 site</a></p>
<p><a href="https://github.com/40823146/cd2021">40823146 repo</a> | <a href="https://40823146.github.io/cd2021">40823146 site</a></p>
<p><a href="https://github.com/40823111/stage3_ag5">stage3_ag5 repo</a> | <a href="https://40823111.github.io/stage3_ag5">stage3_ag5 site</a></p>
<p><a href="https://github.com/40823111/cd2021">40823111 repo</a> | <a href="https://40823111.github.io/cd2021">40823111 site</a></p>
<p><a href="https://github.com/40823115/cd2021">40823115 repo</a> | <a href="https://40823115.github.io/cd2021">40823115 site</a></p>
<p><a href="https://github.com/s408231258/cd2021">40823128 repo</a> | <a href="https://s408231258.github.io/cd2021">40823128 site</a></p>
<p><a href="https://github.com/s408231250/cd2021">40823120 repo</a> | <a href="https://s408231250.github.io/cd2021">40823120 site</a></p>
<p><a href="https://github.com/40823140/cd2021">40823140 repo</a> | <a href="https://40823140.github.io/cd2021">40823140 site</a></p>
<p><a href="https://github.com/s408231254/cd2021">40823124 repo</a> | <a href="https://s408231254.github.io/cd2021">40823124 site</a></p>
<p><a href="https://github.com/40823139/cd2021">40823139 repo</a> | <a href="https://40823139.github.io/cd2021">40823139 site</a></p>
<p><a href="https://github.com/s408231256/cd2021">40823126 repo</a> | <a href="https://s408231256.github.io/cd2021">40823126 site</a></p>
<p><a href="https://github.com/40823152/stage3_ag6">stage3_ag6 repo</a> | <a href="https://40823152.github.io/stage3_ag6">stage3_ag6 site</a></p>
<p><a href="https://github.com/40823152/cd2021">40823152 repo</a> | <a href="https://40823152.github.io/cd2021">40823152 site</a></p>
<p><a href="https://github.com/40823110/cd2021">40823110 repo</a> | <a href="https://40823110.github.io/cd2021">40823110 site</a></p>
<p><a href="https://github.com/s408231252/cd2021">40823122 repo</a> | <a href="https://s408231252.github.io/cd2021">40823122 site</a></p>
<p><a href="https://github.com/s408231255/cd2021">40823125 repo</a> | <a href="https://s408231255.github.io/cd2021">40823125 site</a></p>
<p><a href="https://github.com/40823117/cd2021">40823117 repo</a> | <a href="https://40823117.github.io/cd2021">40823117 site</a></p>
<p><a href="https://github.com/s408231259/cd2021">40823129 repo</a> | <a href="https://s408231259.github.io/cd2021">40823129 site</a></p>
<p><a href="https://github.com/40823149/cd2021">40823149 repo</a> | <a href="https://40823149.github.io/cd2021">40823149 site</a></p>
<p><a href="https://github.com/40823153/cd2021">40823153 repo</a> | <a href="https://40823153.github.io/cd2021">40823153 site</a></p>
<p>參考:40823125</p>
<h3>task2</h3>
<p><iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen" frameborder="0" height="315" src="https://www.youtube.com/embed/jt9qcjmZ8iU" title="YouTube video player" width="560"></iframe></p>
<p><iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen" frameborder="0" height="315" src="https://www.youtube.com/embed/JXjN2yY5SUk" title="YouTube video player" width="560"></iframe></p>
<p><iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen" frameborder="0" height="315" src="https://www.youtube.com/embed/TTgSYfnMAy4" title="YouTube video player" width="560"></iframe></p>
<h2>W11</h2>
<h2>W12</h2>
<h2>W13</h2>
<h2>W14</h2>
<p><iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen" frameborder="0" height="315" src="https://www.youtube.com/embed/rLyYqS0yZQQ" title="YouTube video player" width="560"></iframe></p>
<h2>W15</h2>
<h3>video1</h3>
<p><iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen" frameborder="0" height="315" src="https://www.youtube.com/embed/IKOGwoJ2HLk" title="YouTube video player" width="560"></iframe></p>
<p><img alt="" height="147" src="/images/messageImage_1623329483803.jpg" width="309"/></p>
<p>Title:Inverse kinematics for a 2-joint robot arm using geometry</p>
<p>標題:使用幾何學的2連桿機器人手臂的逆運動學</p>
<p>We saw this simple two-link robot in the previous lecture about forward kinematics.</p>
<p>我們在上一堂關於正向運動學的講座中看到了這個簡單的雙連桿機器人。</p>
<p>The tooltip pose of this robot is described simply by two numbers,the coordinates x and y respect to the world coordinate frame.</p>
<p>該機器人的工具提示姿態由兩個數字簡單描述，坐標 x 和 y 相對於世界坐標系。</p>
<p>So,the problem here is that given x and y,we want to determine the joined angles,Q1 and Q2.</p>
<p>所以，這裡的問題是給定 x 和 y，我們要確定關節角度 Q1 和 Q2。</p>
<p>The solution that we're going to follow inthis particular section is a geometric one.</p>
<p>我們將在本節中遵循的解決方案是幾何解決方案。</p>
<p>We're going to start with a simple piece of construction.</p>
<p>我們將從一個簡單的結構開始。</p>
<p>We're going to overlay the red triangle on top of our robot.</p>
<p>我們將在我們的機器人上面覆蓋紅色三角形。</p>
<p>We know that the end point coordinate is x,y,so the vertical height of the triangle is y,the horizontal width is x.</p>
<p>我們知道終點坐標是x，y，所以三角形的垂直高度是y，水平寬度是x。</p>
<p>And, using Pythagoras theorem, we can write r squared equals x squared plus y squared.</p>
<p>並且，使用畢達哥拉斯定理，我們可以寫出 r 平方等於 x 平方加上 y 平方。 (r^2=x^2+y^2)</p>
<p>So far, so easy.</p>
<p>到目前為止，很容易。</p>
<p>Now, w’re going to look at this triangle highlighted here in red and we want to determine the angle α(alpha).</p>
<p>現在，我們將查看此處以紅色突出顯示的三角形，我們要確定角度 α(alpha)。</p>
<p>In order to do that, we need to use the cosine rule.</p>
<p>為了做到這一點，我們需要使用餘弦規則。</p>
<p>And, if you’re a little rusty on the cosine rule, here is a bit of a refresher.</p>
<p>而且，如果你對餘弦規則有點生疏，這裡有一點複習。</p>
<p>We have an arbitrary triangle.</p>
<p>我們有一個任意三角形。</p>
<p>We don’t have any right angles in it and we’re going to label the length of this edge as A and the angle opposite that edge, we’re going to label as little a.</p>
<p>我們沒有任何直角，我們將這條邊的長度標記為 A，而與該邊相對的角度，我們將標記為小 a。</p>
<p>And, we do the same for this edge and this angle, and this edge and this angle,So, all together, the sides are labelled capitals A, B and C, and the angles are labelled little a, little b, and little c.</p>
<p>並且，我們對這條邊和這個角做同樣的事情，這條邊和這個角，所以，所有的邊都被標記為大寫的A、B和C，而這些角被標記為小a、小b和小c .</p>
<p>So, the cosine rule is simply this relationship here.</p>
<p>所以，餘弦規則就是這裡的這種關係。 (A^2=B^2+C^2-2BCcosa)</p>
<p>It’s a bit like Pythagoras’ theorem except for this extra term on the end with the cos a in it.</p>
<p>它有點像畢達哥拉斯的定理，除了末尾有 cos a 的這個額外項。</p>
<p>Now, let’s apply the cosine rule to the particular triangle we looked at a moment ago.</p>
<p>現在，讓我們將餘弦規則應用於我們剛才看到的特定三角形</p>
<p>It’s pretty straightforward to write down this particular relationship.</p>
<p>寫下這種特殊關係非常簡單。</p>
<p>We can isolate the term cos α(alpha) which gives us the angle alpha that we’re interested in.</p>
<p>我們可以分離出術語 cos α(alpha)，它給出了我們感興趣的角度 α(alpha)。</p>
<p>And, it’s defined in terms of the constant link lengths, A1 and A2 and the position of the end effector, x and y.</p>
<p>而且，它是根據恆定連桿長度 A1 和 A2 以及末端執行器的位置 x 和 y 定義的。</p>
<p>We can write this simple relationship between the angles alpha and Q2</p>
<p>我們可以寫出角度 α(alpha) 和 Q2 之間的這種簡單關係</p>
<p>And, we know from the shape of the cosine function that cos of q2 must be equal to negative of cos α(alpha).</p>
<p>而且，我們從餘弦函數的形狀知道，q2 的 cos 必須等於 cos α(alpha) 的負數。</p>
<p>This time, let’s just write an expression for the cosine of the joined angle q2.</p>
<p>這一次，讓我們為連接角 q2 的餘弦寫一個表達式。</p>
<p>Now, we’re going to draw yet another red triangle and we’re going apply some simple trigonometry here.</p>
<p>現在，我們將繪製另一個紅色三角形，並在此處應用一些簡單的三角函數。</p>
<p>If we know Q2, then we know this length and this length of the red triangle.</p>
<p>如果我們知道 Q2，那麼我們就知道這個長度和這個紅色三角形的長度。</p>
<p>We can write this relationship for the sine of the joint angle q2.</p>
<p>我們可以為連接角 q2 的正弦寫出這種關係。</p>
<p>Now, we can consider this bigger triangle whose angle is β(beta) and this side length of this triangle is given here in blue.</p>
<p>現在，我們可以考慮這個更大的三角形，它的角是β(beta)，這個三角形的邊長在這裡用藍色給出。</p>
<p>And, the length of the other side of the triangle is this.</p>
<p>並且，三角形另一邊的長度是這個。</p>
<p>So, now we can write an expression for the angle beta in terms of these parameters here.</p>
<p>所以，現在我們可以在此處根據這些參數編寫角度 β(beta) 的表達式。</p>
<p>Going back to the red triangle that we drew earlier, we can establish a relationship between q1 and the angle beta.</p>
<p>回到我們之前畫的紅色三角形，我們可以建立q1和角度β(beta)之間的關係。</p>
<p>Introduce yet another angle, this one γ(gamma) and we can write a relationship between the angle γ(gamma) and the tooltip coordinates x and y.</p>
<p>引入另一個角度，這個γ(gamma)，我們可以寫出角度γ(gamma)和工具提示坐標 x 和 y 之間的關係。</p>
<p>Now, we can write a simple relationship between the angles that we’ve constructed, γ(gamma) and β(beta) and the joined angle we’re interested in which is q1.</p>
<p>現在，我們可以在我們構建的角度 γ(gamma) 和 β(beta) 與我們感興趣的連接角度 q1 之間寫出一個簡單的關係。</p>
<p>And, the total relationship looks something like this.</p>
<p>而且，整個關係看起來像這樣。</p>
<p>Quite a complex relationship, it gives us the angle of joined one, that’s Q1 in terms of the end effector coordinates y and x, and a bunch of constants, a1 and a2, and it’s also a function of the second joint angle, Q2.</p>
<p>一個相當複雜的關係，它給了我們連接的角度，即末端執行器坐標 y 和 x 的 Q1，以及一堆常數 a1 和 a2，它也是第二個關節角度 Q2 的函數</p>
<p>So, let’s summarize what it is that we have derived here</p>
<p>所以，讓我們總結一下我們在這裡得出了什麼</p>
<p>We have an expression for the cosine of Q2 and we have an expression for Q1</p>
<p>我們有 Q2 的餘弦表達式和 Q1 的表達式</p>
<p>Now, the cosine function is symmetrical about 0</p>
<p>現在，餘弦函數對稱於0</p>
<p>So, if we know the value of the cosine of Q2, then there are two possible solutions a positive angle and a negative angle.</p>
<p>所以，如果我們知道 Q2 的餘弦值，那麼有兩種可能的解：正角和負角。</p>
<p>We’re going to explicitly choose the positive angle. Which means that I can write this expression here.</p>
<p>我們將明確選擇正角。 這意味著我可以在這裡寫這個表達式。</p>
<p>And now, we have what we call the inverse kinematic solution for this two-link robot.</p>
<p>現在，我們有了這個雙連桿機器人的逆運動學解決方案。</p>
<p>We have an expression for the two joined angles, Q1 and Q2 in terms of the end effector pose x and y, and a bunch of constants.</p>
<p>我們有兩個連接角 Q1 和 Q2 的表達式，根據末端執行器姿勢 x 和 y 以及一系列常數。</p>
<p>You notice that the two equations are not independent.</p>
<p>你注意到這兩個方程不是獨立的。</p>
<p>The equation for Q1, in fact, depends on the solution for Q2.</p>
<p>事實上，Q1 的方程取決於 Q2 的解。</p>
<p>In this case, Q2 is negative and we’re going to write the solution for Q2 with a negative sign in front of the inverse cosine.</p>
<p>在這種情況下，Q2 是負數，我們將在反餘弦前用負號編寫 Q2 的解。</p>
<p>Now, we need to solve for Q1, so we’re going to introduce this particular red triangle, the angle beta that we solved previously, and the angle gamma which is defined in terms of y and x.</p>
<p>現在，我們需要求解 Q1，因此我們將介紹這個特定的紅色三角形、我們之前求解的角度β(beta) 以及根據 y 和 x 定義的角度γ(gamma)。</p>
<p>Now, we write a slightly different relationship between q1, gamma and beta, different to what we had before.</p>
<p>現在，我們在 q1、γ(gamma)和β(beta)之間寫出略有不同的關係，與我們之前的關係不同。</p>
<p>There’s a change of sign involved.</p>
<p>涉及到符號的變化。</p>
<p>Then, we can substitute all that previous equation and come up with this expression for Q1.</p>
<p>然後，我們可以替換之前的所有等式並得出 Q1 的這個表達式。</p>
<p>Again, there is a change of sign here.</p>
<p>同樣，這裡的符號發生了變化。</p>
<p>Previously, this was a negative sign.</p>
<p>原本，這是負號。</p>
<p>And, here in summary form is the solution for the inverse kinematics of our two-link robot when it is in this particular configuration, where Q2 is negative.</p>
<p>並且，這裡總結性地給出了我們的雙連桿機器人在這種特定配置下的逆向運動學的解決方案，其中 Q2 為負。</p>
<p>Let’s compare the two solutions, the case where q2 is positive and the case where q2 is negative.</p>
<p>讓我們比較兩個解決方案，q2 為正的情況和 q2 為負的情況。</p>
<h3>video2</h3>
<p><iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen" frameborder="0" height="315" src="https://www.youtube.com/embed/eIZuz1XCd0w" title="YouTube video player" width="560"></iframe></p>
<p>Title:Inverse kinematics for a 2-joint robot arm using algebra.</p>
<p>標題:使用代數的2連桿機器人手臂的逆運動學。</p>
<p>Here we have the same two link robot as we just looked at but this time we're going tosolve it using an analytical approach , that is we're going to rely much more on algebra ,particular linear algebra rather than geometry.</p>
<p>在這裡，我們有與剛才看到的相同的兩連桿機器人，但這次我們將使用解析方法來解決它，也就是說，我們將更多地依賴代數，特別是線性代數而不是幾何。</p>
<p>We have an expression E , which is the homogeneous transformation which represents the pose of the robots end effector and we looked at this in the last lecture , we can write the end effector pose as a sequence of elementary homogeneous transformations.</p>
<p>我們有一個表達式 E ，它是代表機器人末端姿態的齊次變換，我們在上一課中看過這個，我們可以將末端姿態寫成一系列基本齊次變換。</p>
<p>A rotation by Q1 , a translation along the X direction by A1 , a rotation by Q2 and then a translation in the X direction by A2.</p>
<p>Q1 旋轉，A1 沿 X 方向平移，Q2 旋轉，然後 A2 沿 X 方向平移。</p>
<p>If I expand this out , multiply all the transformations together , I get the expression shown here ; a three by three homogeneous transformation matrix representing the pose of the robot's end effector.</p>
<p>如果我將其展開，將所有變換相乘，就會得到此處所示的表達式； 表示機器人末端執行器姿態的三乘三齊次變換矩陣。</p>
<p>Now for this particular two link robot , we are only interested in the position of its end effector , it's X and Y co - ordinate and they are these two elements within the homogeneous transformation matrix , so I'm going to copy those out.</p>
<p>現在對於這個特殊的兩連桿機器人，我們只對它的末端執行器的位置感興趣，它是 X 和 Y 坐標，它們是齊次變換矩陣中的這兩個元素，所以我將把它們複製出來。</p>
<p>So here again is our expression for X and Y and what we're going to do is a fairly common trick , we're going to square and add these two equations and I get a relationship that looks like this.</p>
<p>所以這裡又是我們對 X 和 Y 的表達式，我們要做的是一個相當常見的技巧，我們要平方並添加這兩個方程，我得到一個看起來像這樣的關係。</p>
<p>Now I can solve for the joint angle Q2 in terms of the end effector pose X and Y and the robot's constants A1 and A2.</p>
<p>現在我可以根據末端執行器姿勢 X 和 Y 以及機器人的常數 A1 和 A2 來求解關節角度 Q2。</p>
<p>Now what I'm going to do is apply the sum of angles identity.</p>
<p>現在我要做的是應用角度恆等式。</p>
<p>I'm going to expand these terms, sine of Q1 plus Q2 or cos of Q1 plus Q2 and to make life a little bit easier, I'm going to make some substations, so where ever I had cos Q2, I'm going to write C2 and where ever I had sine Q2, I'm going to write S2.</p>
<p>我將擴展這些術語，Q1 的正弦加 Q2 或 Q1 的 cos 加 Q2，為了讓生活更輕鬆一點，我將建造一些變電站，所以只要有 cos Q2，我就會去 寫 C2 並且在我有正弦 Q2 的地方，我要寫 S2。</p>
<p>It's a fairly common shorthand when people are looking at robot kinematic equations.</p>
<p>當人們查看機器人運動學方程時，這是一個相當常見的速記。</p>
<p>And here are the equations after making those substitutions.</p>
<p>這是進行這些替換後的方程式。</p>
<p>Looking at these two equations, I can see that they fall into a very well known form and for that form there is a very well known solution.</p>
<p>看看這兩個方程，我可以看到它們屬於一個眾所周知的形式，對於這種形式，有一個眾所周知的解決方案。</p>
<p>So I'm going to consider just one of equations, the equation for Y and using our well known idntity and it's solution, Ican determine the values for the variables little a, little b and little c and once l've determined those, then I can just write down the solution for Q1, which is the equivalent of theta in this particular case.</p>
<p>所以我將只考慮一個方程，Y 的方程，並使用我們眾所周知的身份和它的解，我可以確定變量小 a、小 b 和小 c 的值，一旦我確定了這些，然後 我可以寫下 Q1 的解決方案，在這種特殊情況下，它相當於 θ(theta)。</p>
<p>Here again is our expression for Q1, copied over from the previous slide and we may remember from earlier in our workings that we determined this particular relationship; X squuared plus Y squared is equal to this particular complex expression.</p>
<p>這裡再次是我們對 Q1 的表達，從上一張幻燈片複製過來，我們可能還記得在我們工作的早期，我們確定了這種特殊關係； X 平方加 Y 平方等於這個特殊的複數表達式。</p>
<p>So i can substitute that in and do some simplification and i end up with this slightly less complex expression for Q1.</p>
<p>所以我可以用它代替並做一些簡化，最後我得到了 Q1 的這個稍微不那麼複雜的表達式。</p>
<p>And it is the same expression that I got following the geometric approach in the previous section.</p>
<p>這與我在上一節中依照幾何方法得到的表達式相同。</p>
<h3>gogs</h3>
<p><a href="https://fossil.kmol.info:3443/40823117/cd2021">40823117-gogs</a></p>
<p><img alt="" height="267" src="/images/messageImage_1623086202456.jpg" width="564"/></p>
<h2>W16</h2>
<p>W16 MTB_robot取放方塊</p>
<p><a href="https://drive.google.com/file/d/1ACdqPyC_BlkstbQWziogSjQ32QNhPMMA/view?usp=sharing">檔案下載</a></p>
<p>1.Onshape 零組件繪製<br/><a href="https://drive.google.com/file/d/1ycFs7OcDY__z3Go6qu7M4e9HS0bvoLpi/view?usp=sharing">零件檔</a><br/><a href="https://cad.onshape.com/documents/97bcaaf4efde1f6787109ecb/w/e119aa788106342b9748dd0a/e/5e2db2bc11682e16f45babc9">Onshape零件</a><br/>繪製過程: <iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen" frameborder="0" height="315" src="https://www.youtube.com/embed/rmmVn7W7L3s" title="YouTube video player" width="560"></iframe><br/>2.建立 CoppeliaSim 4.1.0 MTB robot 場景<br/><iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen" frameborder="0" height="315" src="https://www.youtube.com/embed/tRdWMke7Jy4" title="YouTube video player" width="560"></iframe><br/>3.手臂末端加入 components-gripper-suction pad 吸盤<br/><iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen" frameborder="0" height="315" src="https://www.youtube.com/embed/v8a-X7zdQpA" title="YouTube video player" width="560"></iframe><br/>4.逆向運動學函式<br/>程式迴圈:<iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen" frameborder="0" height="315" src="https://www.youtube.com/embed/VP8OEQELsW8" title="YouTube video player" width="560"></iframe><br/>5.Python remote API 逆向運動學函式<br/><iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen" frameborder="0" height="315" src="https://www.youtube.com/embed/Bkf5bvUUhVY" title="YouTube video player" width="560"></iframe></p>